
:root {
    --green-500: #1fb7a0;
    --purple-500: #6173fe;
}

body {
    max-width: 1440px;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0 auto;
    padding: 0 auto;
    line-height: 35px;
    color:  hsl(201, 11%, 66%);
}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 35px;
    text-align: center;
    color:  hsl(210, 10%, 33%);
}

h2 {
    color:  hsl(210, 10%, 33%);
    margin-bottom: 10px;
}

h3 {
    color:  hsl(210, 10%, 33%);
    margin-bottom: 10px;
}

header {
    background-image: url(./images/bg-header-desktop.png);
    /*text-align: center;*/
    padding-top: 100px;
}

.containerlogo {
    text-align: center;
    overflow: hidden;
}

#logo {
    margin: 0;
    max-width: 90px;
}

.containerinicio {
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.conteudoLadopc {
    margin-top: 23px;
    text-align: justify;
}

.devices {
    margin: 0 auto;
    justify-content: center;
    display: flex;
}

/* Design botões */
.actions {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.actions__btn {
    width: 100%;
    max-width: 240px;
    background-color: transparent;
    border: none;
    padding: 20px;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    box-shadow: rgb(71, 66, 66) 1px 1px;
}

.actions__btn--ios {
    background-color: var(--green-500)
}
.actions__btn--mac {
    background-color: var(--purple-500)
}

/* -------- */

#superchargContent {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-right: 100px;
}

#blocoCreate {
    text-align: center;
    margin-top: 50px;
}

#blocoPlain {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    /*margin-right: 60px;*/
}

#blocoSneak {
    text-align: center;
    margin-top: 50px;
}

#containerEmpresas {
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    /*margin-left: 100px; */
    margin-bottom: 100px;
}

footer {
    
    height: 150px;
    min-width: 200px;
    margin-top: 100px;
    align-items: center;
    display: flex;
    padding: 0 200px;
    border: none;
    background-color: #f5f6f8;
    justify-content: center;
}

li {
    display:flex;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: end;
}

.imgIcon {
    width: 25px;
    height: 25px;
    padding-right: 20px;
    

}

.footer__links {
    display: flex;
    gap: 44px;
    width: 100%;
}

.links__group {
    display: flex;
    flex-direction: column;
}

.links__group a {
    text-decoration: none;
    color: hsl(201, 11%, 66%);
    font-weight: bold;
}

.logofooter {
    width: 200px;
}

.logofooter img {
    width: 100%;
    max-width: 50px;
}